<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    {% if messages %}
        {% for message in messages %}
        	<h4 style="color: red">{{ message }}</h4>
        {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'change_password' %}">

        {% csrf_token %}
        <input type="text" placeholder="Pasword" name="password">
        <input type="text" placeholder="Confirm Pasword" name="confirm_password">
        <input type="hidden" name="email" value="{{ email }}">
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>